<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CloseWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="HideWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CloseWindow.Properties.Settings>
            <setting name="WindowCaption" serializeAs="String">
                <value>Sponsored session</value>
            </setting>
            <setting name="IntervalMsec" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="CloseMethod" serializeAs="String">
                <value>SendReturn</value>
            </setting>
        </CloseWindow.Properties.Settings>
        <HideWindow.Properties.Settings>
            <setting name="HideCaption" serializeAs="String">
                <value>Sponsored session</value>
            </setting>
            <setting name="IntervalMsec" serializeAs="String">
                <value>250</value>
            </setting>
        </HideWindow.Properties.Settings>
    </userSettings>
</configuration>